.bg {
    background-image: url(".././images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background: transparent;
}
.nav-main-heading {
    font-family: 'Montez', cursive;
    font-size: 6vmin;
    text-decoration: none;
}
.nav-sub-heading {
    position: absolute;
    left: 1%;
    top: 72%;
    font-family: 'Ubuntu Mono', serif;
    font-size: 16px;
}
.nav-buttons {
    background-color: #0000ff;
    color: #fff;
    border-radius: 0;
}
.buttons-div {
    display: inline-block;
    float: right;
    position: relative;
    top: 25px;
    width: 12%;
}
.button-sign-in {
    margin-left: 6%;
}
.btn-width {
    width: 100%;
}
.bottom-text-div {
    text-align: center;
    margin-top: 2%;
}
