body, html {
    height: 100%;
    margin: 0;
}
.create-button {
    text-align: center !important;
}
#create-form input, #create-form textarea {
    background-color: #f4f4f4;
}
.posts-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* left: 46%; */
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
