.edit-posts-div {
    margin-top: 2%;
}
.edit-sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
}
#edit-sub-header-el {
    font-size: 18px;
    font-family: 'Ubuntu Mono', serif;
}
#post-content, #edit-header {
    margin-left: 3%;
    margin-right: 3%;
}
.post-page-btn {
    background-color: #ed2553;
    color: #fff;
    font-weight: 500;
    outline: 0;
}
.post-page-btn i {
    font-size: 18px;
    position: relative;
    top: 1px;
}
.post-page-btn:hover, .post-page-btn:visited, .post-page-btn:focus {
    border: 1px solid #fff;
    border-style: ridge;
    color: #fff;
    outline: 0;
}
.like-btn {
    margin-left: 3%;
    margin-top: 1%;
}
.like-text {
    margin-left: 3%;
    margin-top: 4px;
    font-family: 'Roboto Mono', monospace;
}
.comment-box {
    width: 60%;
    margin-left: 3%;
    margin-top: 1%;
}
.added-comments-section {
    margin-left: 3%;
    margin-top: 1%;
}
[contenteditable] {
    outline: 0px solid transparent;
    text-align: center;
}
.editable-box-border {
    border: 1px solid #ed2553;
}
.icon-left-align {
    left: 3px;
}
